CURRENT_BAND={{ hamstack_allstar_sa818_band }}
CURRENT_BANDWIDTH={{ hamstack_allstar_sa818_bandwidth }}
CURRENT_FREQ_RX={{ hamstack_allstar_sa818_rx_frequency }}
CURRENT_FREQ_TX={{ hamstack_allstar_sa818_tx_frequency }}
CURRENT_SQUELCH={{ hamstack_allstar_sa818_squelch }}
CURRENT_VOLUME={{ hamstack_allstar_sa818_volume }}
CURRENT_TONE={{ hamstack_allstar_sa818_tone }}
CURRENT_CTCSS_RX={{ hamstack_allstar_sa818_ctcss_rx }}
CURRENT_CTCSS_TX={{ hamstack_allstar_sa818_ctcss_tx }}
CURRENT_DCS_RX={{ hamstack_allstar_sa818_dcs_rx }}
CURRENT_DCS_TX={{ hamstack_allstar_sa818_dcs_tx }}
CURRENT_TAIL_TONE={{ hamstack_allstar_sa818_tail_tone }}
CURRENT_EMPHASIS={{ hamstack_allstar_sa818_emphasis }}
CURRENT_FILTER_HIGH_PASS={{ hamstack_allstar_sa818_high_pass }}
CURRENT_FILTER_LOW_PASS={{ hamstack_allstar_sa818_low_pass }}
CURRENT_PORT={{ hamstack_allstar_sa818_port }}
CURRENT_SPEED={{ hamstack_allstar_sa818_speed }}
