[SOUND]
rxclock=48000
txclock=48000
inputAudioDevice=default
outputAudioDevice=default
alsaSelected=false
pulseSelected=true
swapChannel=false
pttToneOtherChannel=false
soundRoutingInput=0
soundRoutingOutput=0
recordingSize=100
